<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout}">
<head>
    <title th:text="'Home | Waste Wise'">Home</title>
</head>
<body>
    <!-- Content -->
    <div th:fragment="content" id="map"></div>

    <!-- Scripts -->
    <th:block th:fragment="scripts">
        <script th:src="@{/js/map.js}"></script>
        <script async defer
            th:src="'https://maps.googleapis.com/maps/api/js?key=AIzaSyBiF-J7H9LcHCmPynCmsS7JaDp9bHMnLQY&callback=initMap'">
        </script>
    </th:block>
</body>
</html>
